section{
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.image-1 {
  background-image: url("../img/lab1.png")
}

.image-2 {
  background-image: url("..img/lab1.png");
}
